* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}

/* .container {
    height: 100vh;
    width: 100vw;
} */

.container-rigth {
    display: inline-block;
}

.menucompleto {
    position: absolute;
    z-index: 1;
    width: 480px;
}

.menu {
    font-weight: 400;
    font-size: 28px;
    margin-left: 48px;
    
    
}

.menu:nth-child(2) {
    opacity: .4;
}

.menu:hover {
    opacity: .8;
}

.menu:active {
    opacity: .5;
}

.imagem1 {
    position: absolute;
    width: 491px;
    height: 901px;
    opacity: 0.5;
    z-index: -1;
}

.imagem2 {
    width: 456px;
    height: 591,95px;
    margin-top: 200px;
    margin-left: -150px;
}

.container-left {
    display: inline-block;
    width: 63.5%;
}

h1 {
    width: 368px;
    height: 160px;
    font-weight: 400;
    font-size: 70px;
    color: #5D5D7D;
    margin: 350px 0 0 100px;

}

p {
    width: 440px;
    height: 144px;
    opacity: 0.6;
    font-weight: 400;
    font-size: 28px;
    color:  #5D5D7D;
    margin: 70px 0 0 100px;

}

button {
    width: 269px;
    height: 62px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    background: #9499EA;
    color: white;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    margin-left: 100px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}

@media screen and (max-width:900px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-rigth {
        display: block;
        height: 50%;
        width: 100%;
        position: static;
    }

    .menucompleto {
        display: none;
    }

    .imagem2 {
        position: static;
        margin-left: 2.5%;
    }

    h1 {
        width: auto;
        margin-top: 58px;
        margin-left: 54px;
        font-weight: 400;
        font-size: 36px;
        line-height: 52px;
        text-align: justify;


    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;  
        font-size: 24px;   
        line-height: 24px;
    }
}